* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
}
html,body {
	width: 100%;
	height: 100%;
}
#main nav ul {
	float: right;
	margin-right: 20px;
	margin-top: 20px;

}
#main nav ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0 8px;
	line-height: 50px;
}
#main nav ul li a {
	text-decoration: none;
	color: black;
	font-size: 14px;
	padding: 6px 13px;
	transition: 0.4s all ease-out;
	border-radius: 5px;
	text-decoration: underline;

}
#main nav ul li a.active,
#main nav ul li a:hover {
	background: red;
	color: black;
	transition: 0.4s all ease-ou;
}
.hello{
	position: absolute;
	top: 20%;
	left: 20%;
	font-size: 60px;
	color: red;
	font-family:Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
}
.please{
	position: absolute;
	top: 30%;
	left: 10%;
	color: black;
	font-size: 40px;
	font-family: Tahoma, Geneva, Verdana;
	text-decoration: underline;
}
.text{
	position: absolute;
	top: 35%;
	left: 15%;
	color: palevioletred;
	font-size: 30px;
}
.para {
	font-size: 50px;
	position: absolute;
	top: 45%;
	left: 4%;
	color: black;
}